body {
  background: white;
  color: #323232;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
}

ul {
  padding-left: 0;
}

li:before {
  content: "• ";
}

li {
  display: inline-block;
}
